{% extends "layout.twig" %}
{% block content %}

<!-- Sidebar -->
	{% include "includes/sidebar.twig" %}

 <!-- Template Feature Widget -->

    {{widget('feature', 'featurehome', {
        'header': 'profile',
        'defaultBgImg': asset("images/feature-bg.jpg"),
        'positionTopPercentage': '0',
        'showBtn': true,
        buttonText: "Lorem Ipsum"
    })|raw}}

<!-- CONTAINER -->
<div class="template-container home-page">

	<!-- Ecom Basket -->

	{% if plugins.ecommerce.store.live %}
		<div class="header-basket">
		 	{{widget('ecombasket', 'shopbasket', {})|raw}}
		</div>
	{% endif %}

	<!-- MAIN SECTION -->
	<div role="main" id="main">

		<!-- MAIN WIDGET ZONE -->
	   	{{zone('main')|raw}}

	</div>
	<!-- END MAIN SECTION -->

</div>
<!-- END CONTAINER -->

<!-- MASONRY GALLERY -->

{% endblock %}

{% block scripts %}

	<!-- imagesLoaded -->
	<script src="{{asset('js/imagesloaded.min.js')}}"></script>

	<!-- Masonry -->
	<script src="{{asset('js/masonry.min.js')}}"></script>

	<script>
		var container = document.querySelector('.gallery-list');

		imagesLoaded( container, function() {
			var msnry = new Masonry( container, {
				itemSelector: '.gallery-item'
			});
		});
	</script>

{% endblock %}
